* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Montserrat", sans-serif;
}

input {
    border: none;
    background: none;
    outline: none;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer
}

ul {
    list-style: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}